<nav class="navbar bg-light navbar-expand-lg">
    <a href="#"><img src="/src/assets/images/oppex_logo.png" height="40px" width="160px" class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="search"><span class="whiteText">SEARCH</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="pricing"><span class="whiteText">PRICING</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="clear: both;">
            <li *ngIf="!isloggedin"><a href="#" class="btn btn-success" routerLink="signup">Start Trial</a></li>&nbsp;&nbsp;
            <li *ngIf="!isloggedin"><a href="#" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">Login</a></li>
            <li *ngIf="isloggedin"><a href="#" (click)="onLogout()" class="btn btn-light">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: black">
                <h5 class="modal-title" id="exampleModalLabel" style="color: white">LOGIN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form action="" (submit)="onLogin(postForm)" #postForm="ngForm">
                <mat-form-field>
                    <input matInput type="text" placeholder="User Name" name="username" ngModel required #username="ngModel" username>
                    <mat-error *ngIf="username.invalid">Please Enter Username</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="password" name="password" ngModel required #password="ngModel" password>
                    <mat-error *ngIf="password.invalid">Please Enter Password</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">LOGIN</button>
                <button mat-raised-button color="warn">FORGOT PASSWORD</button>

            </form>
            </div>
        </div>
    </div>
</div>
