.jumb {
  padding-top: 25%;
  text-align: center;
  color: white;
  height: 100vh;
  background-color: rgba(0,0,0,0.0);
}

.back {
  background-image: url("/src/assets/images/header.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bg-light {
  background-color: #123 !important;
}
