<hr>
<div class="container"style="display: flex;">
    <div>
        <table>
            <tr>
              <th><a href = "#">Home</a></th>
              <th>Solutions</th>
              <th>Company</th>
              <th>Others</th>
              <th>Resources</th>
            </tr>
            <tr>
              <td rowspan=5></td>
            </tr>
            <tr>
              <td><a href = "#">Salesforce App</a></td>
              <td><a href = "#">About us</a></td>
              <td><a href = "#">Customer</a></td>
              <td><a href = "#">FAQ</a></td>
            </tr>
            <tr>
              <td><a href = "#">Share & Export</a></td>
              <td><a href = "#">Contact</a></td>
              <td><a href = "#">Technology</a></td>
              <td><a href = "#">Blog</a></td>
            </tr>
            <tr>
              <td><a href = "#">Alerts</a></td>
              <td colspan=2><a href = "#"></a></td>
              <td><a href = "#">Terms & Conditions</a></td>
            </tr>
            <tr>
                <td><a href = "#">Search</a></td>
                <td><a href = "#"></a></td>
            </tr>
          </table>
    </div>
    <div><i class="far fa-copyright"></i></div>
</div>
