<div class="hv">
<mat-card class="card_size">
    <mat-card-header>
      
      <mat-card-title class="text-muted"><h4 style="margin-top: 35px;">Advanced</h4></mat-card-title>
    </mat-card-header>
    <div class="i">  
      <img mat-card-image src="/src/assets/images/car.png" alt="Car" height="120px" width="50px">
    </div>
  
      <mat-card-content>
          <p class="font-weight-bold b">99 &euro;<span class="font-weight-light e">/ month</span></p>
          <a href="#" class="btn btn-success btn-lg">START FREE TRIAL</a>
          <p class="text-muted card-text">Starts with pro plan</p>
          <ul style="padding: 20px">
              <li>Unlimited Searches</li>
              <li>Licenses: 1</li>
              <li>Search profiles: 3</li>
              <li class="ft_l text-muted">Historical Data</li>
              <li class="ft_l text-muted">Winner Data</li>
              <li class="ft_l text-muted">Data Export</li>
              <li class="ft_l text-muted">Oppex Setup</li>
              <li class="ft_l text-muted">Onsite Training</li>
          </ul>
    </mat-card-content>
   
  </mat-card>
</div>