.jumbo {
  text-align: center;
  color:rgba(1,1,1,0.9);
  background-color: rgba(0,0,0,0.0);
}

.innerJumb {
  color: rgba(1,1,1,0.4);
}

.outJumb {
  color: rgba(1,1,1,0.7);
}

.jumb {
  padding-top: 25%;
  text-align: center;
  color: white;
  height: 100vh;
  background-color: rgba(0,0,0,0.0);
}

.back {
  background-image: url("/assets/images/header.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.whiteText {
  color: white;
}

.get-Touch-div {
  width: 250px;
  text-align: center;
  padding: 10% 0% 3% 0%;
}
