<div class="container">
    <div class="jumbotron jumb">
      <h1 class="display">Get Relevant Tenders, The Way You Prefer.</h1><br>
      <p class="lead outJumb">Do not waste time browsing tender portals. Get relevant leads automatically and spend your time bidding for a win.</p>
    </div>

    <div style="display : flex;">
      <div class="jumbotron jumb outJumb">
        <h1 class="display">Receive & Share Alerts</h1><br>
        <p class="lead innerJumb">Automatically receive tenders & share them with your team</p>
        <p class="lead">
            <a class="btn btn-success btn-sm" href="#" role="button">Learn More</a>
        </p>
      </div>
      <div class="jumbotron jumb" style="color: rgba(1,1,1,0.7);">
        <h1 class="display">Find Relevant Tenders</h1><br>
        <p class="lead innerJumb">Easily customize your search to find relevant tenders</p>
        <p class="lead">
          <a class="btn btn-success btn-sm" href="#" role="button">Learn More</a>
        </p>
      </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgb(245,245,245);">
  <div class="container">
      <div class="jumbotron jumb">
        <h1 class="display">What Our Customers Say</h1><br>
        <p class="lead outJumb">Our satisfied clients include global corporations, leading local companies, public sector buyers, as well as a vast array of professional service providers.</p>
      </div>

      <div style="display : flex; justify-content: space-between;">
        <div class="jumbotron jumb outJumb">
          <h1 class="display">A</h1><br>
          <p class="lead innerJumb">aa</p>
          <p class="lead">
              <a class="btn btn-success btn-sm" href="#" role="button">Learn More</a>
          </p>
        </div>
        <div class="jumbotron jumb" style="color: rgba(1,1,1,0.7);">
          <h1 class="display">B</h1><br>
          <p class="lead innerJumb">bb</p>
          <p class="lead">
            <a class="btn btn-success btn-sm" href="#" role="button">Learn More</a>
          </p>
        </div>
        <div class="jumbotron jumb" style="color: rgba(1,1,1,0.7);">
          <h1 class="display">C</h1><br>
          <p class="lead innerJumb">cc</p>
          <p class="lead">
            <a class="btn btn-success btn-sm" href="#" role="button">Learn More</a>
          </p>
        </div>
      </div>
  </div>
</div>
