<div class="back">
    <div class="container">
        <div class="jumbotron jumb">
            <h1 class="display-4">Find new sales in the public sector</h1>
            <p class="lead">Millions of public tenders and bidding contests all over Europe</p>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="#" role="button">TRY IT OUT</a>
            </p>
            <a href="#">Read more</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron jumbo">
      <h1 class="display">Get Relevant Tenders, The Way You Prefer.</h1>
      <br>
        <p class="lead outJumb">Do not waste time browsing tender portals. Get relevant leads automatically and spend your time bidding for a win.</p>
      </div>

      <div style="display : flex;">
          <div class="jumbotron jumbo outJumb">
            <img src="../assets/images/shares.png" style="padding-bottom: 2%; width: 70px;" alt="">
            <h1 class="display">Receive & Share Alerts</h1>
            <br>
            <p class="lead innerJumb">Automatically receive tenders & share them with your team</p>
            <p class="lead">
              <a class="btn btn-success btn-sm" href="#" role="button">Learn More</a>
            </p>
          </div>
          <div class="jumbotron jumbo" style="color: rgba(1,1,1,0.7);">
            <img src="../assets/images/relevent.png" style="width: 70px;" alt="">
            <h1 class="display">Find Relevant Tenders</h1>
            <br>
            <p class="lead innerJumb">Easily customize your search to find relevant tenders</p>
            <p class="lead">
                <a class="btn btn-success btn-sm" href="#" role="button">Learn More</a>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgb(245,245,245);">
    <div class="container">
        <div class="jumbotron jumbo">
            <h1 class="display">What Our Customers Say</h1>
            <br>
            <p class="lead outJumb">Our satisfied clients include global corporations, leading local companies, public sector buyers, as well as a vast array of professional service providers.</p>

            <div style="display : flex; justify-content: space-between;">
                <div class="jumbotron jumbo outJumb">
                    <h1 class="display"><img src="../assets/images/ONCALL-Logo_rgb.jpg" width="180px" height="50px" alt=""></h1>
                    <br>
                    <p class="lead innerJumb">
                        "We have now been able to prepare more tenders globally, as we have received notifications for opportunities which we were not previously receiving.“</p>
                    <img src="../assets/images/Alex-Fairie.jpg" class="rounded-circle" width="60px" alt="">
                    <p>Darren Fiander
                        <br><span class="innerJumb">Director, OnCall</span></p>
                </div>
                <div class="jumbotron jumbo" style="color: rgba(1,1,1,0.7);">
                    <h1 class="display"><img src="../assets/images/cropped-cropped-FarrellsLogo-2.png" width="180px" height="30px" alt=""></h1>
                    <br>
                    <p class="lead innerJumb">“We have, through Oppex, been able to bid on a number of projects outside of our usual geographical sphere.”</p>
                    <img src="../assets/images/austen_smith.jpg" class="rounded-circle" width="60px" alt="">
                    <p>Darren Fiander
                        <br><span class="innerJumb">Senior Architect, Farrells</span></p>
                </div>
                <div class="jumbotron jumbo" style="color: rgba(1,1,1,0.7);">
                    <h1 class="display"><img src="../assets/images/social.jpg" width="180px" height="50px" alt=""></h1>
                    <br>
                    <p class="lead innerJumb">
                        "We are able to find previously awarded contracts and ensure that we touch base with prospects before the contracts are up for renewal.“</p>
                    <img src="../assets/images/darren.jpeg" class="rounded-circle" width="60px" alt="">
                    <p>Darren Fiander
                        <br><span class="innerJumb">Director, SocialSignIn</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="display: flex; justify-content: space-between">
        <div class="get-Touch-div">
            <img src="../assets/images/database.png" width="65px" style="padding-bottom: 4%;" alt="">
            <p style="font-size: 20px">Over 9 Million Tenders</p>
            <p class="innerJumb">Access Europe’s largest tender database</p>
        </div>
        <div class="get-Touch-div">
            <img src="../assets/images/opportunity.png" width="65px" style="padding-bottom: 4%;" alt="">
            <p style="font-size: 20px">+150.000 Live Opportunities</p>
            <p class="innerJumb">Find over 150.000 live tenders</p>
        </div>
        <div class="get-Touch-div">
            <img src="../assets/images/coverage.png" width="65px" style="padding-bottom: 4%;" alt="">
            <p style="font-size: 20px">95% Coverage</p>
            <p class="innerJumb">Best coverage on European public market sector</p>
        </div>
        <div class="get-Touch-div">
            <img src="../assets/images/industries.png" width="65px" style="padding-bottom: 4%;" alt="">
            <p style="font-size: 20px">+200 Industries</p>
            <p class="innerJumb">Covering over 200 industries</p>
        </div>
    </div>
    <button type="button" class="btn btn-outline-success" style="width: 250px; height: 60px; margin-left: 430px;">Get In Touch</button>
</div>
