<div class="back">
    <div class="container">
        <div class="jumbotron jumb">
            <h1 class="display-4"><img src="/src/assets/images/oppex_logo.png" height="50px" alt=""></h1>
            <p>Win more business with Oppex.</p>
        </div>
    </div>

    <mat-card class="container" style="width: 25%">
        <mat-toolbar>
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    <li class="page-item"><a class="page-link" (click)="func()">SIGN UP</a></li>
                    <li class="page-item"><a class="page-link" (click)="func1()">LOGIN</a></li>
                </ul>
            </nav>
        </mat-toolbar>
        <form action="" (submit)="onLogin(postForm)" #postForm="ngForm">
            <mat-form-field>
                <input matInput type="text" placeholder="User Name" name="username" ngModel required #username="ngModel" username>
                <mat-error *ngIf="username.invalid">Please Enter Username</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="password" name="password" ngModel required #password="ngModel" password>
                <mat-error *ngIf="password.invalid">Please Enter Password</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">LOGIN</button>
            <button mat-raised-button color="warn">FORGOT PASSWORD</button>

        </form>
    </mat-card>
</div>
