<div class="hv">
<mat-card class="card_size">
  <mat-card-header>
    
    <mat-card-title class="text-muted" style="margin-top: 35px;"><h4>Custom</h4></mat-card-title>
  </mat-card-header>
  <div class="i">  
    <img mat-card-image src="/src/assets/images/plane.png" alt="Car" height="120px" width="50px">
  </div>

    <mat-card-content>
        <p class="font-weight-bold b">399 &euro;<span class="font-weight-light e">/ month</span></p>
        <p class="text-success">STARTING FROM</p>
        <a href="#" class="btn btn-success btn-lg">CONTACT US</a>
        
        <ul style="margin-top: 50px;padding:10px;">
            <li>Unlimited Searches</li>
            <li>Licenses: 10 or custom</li>
            <li>Search profiles: Unlimited</li>
            <li >Historical Data</li>
            <li >Winner Data</li>
            <li >Data Export</li>
            <li >Oppex Setup (quoted separately)</li>
            <li >Onsite Training (quoted separately)</li>
        </ul>
  </mat-card-content>
 
</mat-card>
</div>