<div class="container-fluid">
  <div style="padding-top: 5%">
      <h1 class="a">Choose a plan that is right for you!</h1></div>
  <br>
  <div class="c">
      <p class="font-weight-bold text-info b">14-day free trial,no credit card required.</p>
      <p class="font-weight-bold text-muted b">Call <span class="text-info">+448009755164</span> for questions.</p>
  </div>
  <br>
  <br>
  <div class="row">

      <div class="col-4">
          <div class="card mx-auto" style="width:400px">
              <h4 class="card-title">Advanced</h4>
              <img class="card-img-top" src="/src/assets/images/car.png" alt="Card image" style="width:100%;height: 200px;">
              <div class="card-body">
                  <p class="font-weight-bold b">99 &euro;<span class="font-weight-light e">/ month</span></p>
                  <a href="#" class="btn btn-success btn-lg">START FREE TRIAL</a>
                  <p class="text-muted card-text">Starts with pro plan</p>
                  <ul>
                      <li>Unlimited Searches</li>
                      <li>Licenses: 1</li>
                      <li>Search profiles: 3</li>
                      <li class="text-muted">Historical Data</li>
                      <li class="text-muted">Winner Data</li>
                      <li class="text-muted">Data Export</li>
                      <li class="text-muted">Oppex Setup</li>
                      <li class="text-muted">Onsite Training</li>
                  </ul>

              </div>
          </div>
      </div>
      <div class="col-4 d">
          <div class="card mx-auto" style="width:400px" style="align-self: auto">
              <h4 class="card-title">Professional</h4>
              <img class="card-img-top" src="/src/assets/images/boat.png" alt="Card image" style="width:100%;height: 200px;">
              <div class="card-body">
                  <p class="font-weight-bold b">199 &euro;<span class="font-weight-light e">/ month</span></p>
                  <a href="#" class="btn btn-success btn-lg">START FREE TRIAL</a>
                  <p class="card-text text-muted">Starts with pro plan</p>
                  <ul>
                      <li>Unlimited Searches</li>
                      <li>Licenses: 1</li>
                      <li>Search profiles: 3</li>
                      <li>Historical Data</li>
                      <li>Winner Data</li>
                      <li>Data Export</li>
                      <li class="text-muted">Oppex Setup</li>
                      <li class="text-muted">Onsite Training</li>
                  </ul>

                </div>
      </div>
              </div>
      <div class="col-4 d">
          <div class="card mx-auto" style="width:400px">
              <h4 class="card-title">Custom</h4>
              <img class="card-img-top" src="/src/assets/images/plane.png" alt="Card image" style="width:100%;height: 200px;">
              <div class="card-body">
                  <p class="font-weight-bold b">399 &euro;<span class="font-weight-light e">/ month</span></p>
                  <a href="#" class="btn btn-success btn-lg">CONTACT US</a>
                  <p class="card-text text-muted">Some example text some example text. John Doe is an architect and engineer</p>
                    <ul>
                        <li>Unlimited Searches</li>
                        <li>Licenses: 10 or custom</li>
                        <li>Search profiles: unlimited</li>
                        <li>Historical Data</li>
                        <li>Winner Data</li>
                        <li>Data Export</li>
                        <li>Oppex Setup(quoted separately)</li>
                        <li>Onsite Training(quoted separately)</li>
                    </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="f text-muted">
      We are currently offering a pay per lead payment scheme to
      <br>selected clients in a closed Beta.
      <a href="#">Click here</a> if you want to learn
      <br> more about this program.
      <br>
      <br>
      <br> Need more countries or licenses? Prefer to receive an invoice?
      <br> Our payments team is here to help you out.
      <a href="#"> Contact us</a> for
      <br> personal support.
  </div>
</div>
