<div class="container-fluid">
  <div style="padding-top: 2%">
      <h1 class="a">Choose a plan that is right for you!</h1></div>
  <br>
  <div class="c">
      <p class="font-weight-bold text-info b">14-day free trial,no credit card required.</p>
      <p class="font-weight-bold text-muted b">Call<span class="text-info">+448009755164</span> for questions.</p>
  </div>
  <br>
  <br>
 <div class="row">
      <div class="col-lg-4"><app-card1></app-card1></div>
      <div class="col-lg-4"><app-card2></app-card2></div>
      <div class="col-lg-4"><app-card3></app-card3></div>
  </div>
  <div class="f text-muted" style="padding: 70px" >
      We are currently offering a pay per lead payment scheme to
      <br>selected clients in a closed Beta.
      <a href="#">Click here</a> if you want to learn
      <br> more about this program.
      <br>
      <br>
      <br> Need more countries or licenses? Prefer to receive an invoice?
      <br> Our payments team is here to help you out.
      <a href="#"> Contact us</a> for
      <br> personal support.
  </div>
  <div style="padding-bottom:60px;margin-top: 0px">
      <img src="/src/assets/images/a.jpg"> <img src="/src/assets/images/visa.jpg"><img src="/src/assets/images/mastercard.jpg"><img src="/src/assets/images/braintree.jpg">
  </div>
  <div class="jmb_ht">
      <div class="test_h1"><h1>Featured Testimonial</h1></div>
      <div class="cnt">
      <img class="round-img" src="/src/assets/images/friedrich_rojahn.jpg" >
       <p style="padding: 40px"class="g text-muted">“Oppex has allowed us to find more<br> business opportunities than ever <br>before. Within a few months from <br>using the service, we even won a tender<br> we found on the platform!”</p>
       <p class="txt_blw_img">Friedrich Rojahn</p>
    </div>

  </div>
  <div class="jmb_ht1">
    <div class="faq_h1"><h1 >FAQ</h1></div>

    <div><img class="round_img_cnt" src="/src/assets/images/faqicon" ></div>
    <div class="faq_blw_text text-muted"><p>Do not hesitate to <a href="#">contact our support</a></p></div>
    <div class="faq_blw_text">
         <div class=" row">
         <div class="col-lg-1"></div>
         <div class="txt_al txt_l col-lg-4">
         <h5>WHAT DO I GET WITH MY FREE TRIAL?</h5>
         <p class="text-muted">You get access to all the features in the professional tier. You can use the features for 14 days.</p>
         </div>

         <div class="txt_al col-lg-6"><h5>DO I NEED TO SETUP A CREDIT CARD FOR THE TRIAL?</h5>
         <p class="text-muted">No. Not for the trial. If you want to ensure that you don't miss any tenders after the trial period, you can also setup the credit card during trial. We will only start charging after the trial period.</p>
        </div>
        <div class="col-lg-1"></div>

         </div>
         <div class="row">
                <div class="col-lg-1"></div>
                <div class="txt_al col-lg-4">
                <h5>WHAT HAPPENS AT THE END OF MY TRIAL?</h5>
                <p class="text-muted">We'll inform you when your trial is about to end, so if you want to keep some features, you won't miss any relevant leads.</p>
                </div>

                <div class="txt_al col-lg-6"><h5>WHAT IF I WANT TO CHANGE MY PLAN?</h5>
                <p class="text-muted">You can change your plan anytime. We will bill you only until the end of the current billing period.</p>
                <div class="col-lg-1"></div>
            </div>

                </div>
    </div>

</div>
</div>
