<div class="container"><p>
  pricing works!
</p>
<h1>{{msg}}</h1>
<h1>{{msg1}}</h1>
<h1>{{msg2}}</h1>
<div class="row">
  
  <div class="col-4" style="width: 500px;">
    <div class="card" style="width: 18rem;">
      
      
      <div class="card-body">
          <h5 class="card-title">Advanced</h5>
          <img src="https://oppex.com/assets/img/car.png " class="card-img-top" alt="...">
          <a href="#" class="btn btn-primary">Start Free Trial</a>
       
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
     
      <div class="card-body">
          <h5 class="card-title">Professional</h5>
          <img src="https://oppex.com/assets/img/boat.png" class="card-img-top" alt="...">
          <a href="#" class="btn btn-primary">Start Free Trial</a>
        
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      </div>
    </div>
  </div>
  <div class="col-4" >
    <div class="card" style="width: 18rem;">
        
     
      <div class="card-body">
          <h5 class="card-title">Custom</h5>
          <img src="https://oppex.com/assets/img/plane.png" class="card-img-top" alt="..." height="px;">
          <a href="#" class="btn btn-primary">Contact Us</a>
       
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      </div>
    
  </div>
</div>
</div>