<p>
  pipe works!
</p>
<div>{{ttl | uppercase}}</div>
<div>{{ttl | lowercase}}</div>
<div>{{dec | number: '2.3-4'}}</div>
<div>{{123 | currency: 'EUR'}}</div>
<div>{{123 | currency: 'USD'}}</div>
<div>{{todaydate}}</div>
<div>{{todaydate | date: 'short'}}</div>
<div>{{todaydate | date: 'shortTime'}}</div>
<div>{{todaydate | date: 'shortDate'}}</div>
<div>{{todaydate | date: 'd/M/y'}}</div>
<div>{{jsonval | json}}</div>
<div>{{0.5 | percent}}</div>
<div>{{ttl | slice: 2:5}}</div>
<div>{{months | slice: 2:5}}</div>