<div class="row" style="background-color:#1ECDEE">
  <div class="col-lg-12">
<p>Winner and award information allow you to analyze previously awarded contracts. Start your free<br> 14-day trial now to see which companies have won tenders and which organizations have issued <br>tenders before.</p>

<ul id="menu">
  <li><a class="btn btn-success" (click)="func()">Start Trial</a></li>
  <li><a href="#" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">Login</a></li>
</ul>


</div>
</div>
